/*
Error: Invalid CSS after "  opacity": expected ";", was ": .1;"
        on line 33 of /Users/Kevin/dev/blog/sass/custom/_styles.scss
        from line 10 of /Users/Kevin/dev/blog/sass/screen.scss

28:   font-size: 70px;
29: }
30: 
31: body>header:after {
32:   content: ""
33:   opacity: .1;
34:   z-index: -1;
35: }
36: 
37: 
38: .group:after,body>header:after,body>nav:after,body>footer:after,body #content>article:after,body #content>div>article:after,body #content>div>section:after,body div.pagination:after,#main:after,#content:after,.sidebar:after {content: ""; opacity:0;z-index: -1}

Backtrace:
/Users/Kevin/dev/blog/sass/custom/_styles.scss:33
/Users/Kevin/dev/blog/sass/screen.scss:10
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:1162:in `expected'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:1098:in `expected'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:758:in `block in try_declaration'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:1138:in `call'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:658:in `block_child'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:639:in `block'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:657:in `block_child'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/scss/parser.rb:42:in `parse'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/engine.rb:403:in `_to_tree'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/engine.rb:309:in `to_tree'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/stack.rb:88:in `block in with_import'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/stack.rb:115:in `with_frame'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/stack.rb:88:in `with_import'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/stack.rb:79:in `block in with_base'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/stack.rb:115:in `with_frame'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/stack.rb:79:in `with_base'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/tree/root_node.rb:20:in `render'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/engine.rb:278:in `render'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/Kevin/.rvm/gems/ruby-2.2.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Kevin/.rvm/gems/ruby-2.2.1/bin/compass:23:in `load'
/Users/Kevin/.rvm/gems/ruby-2.2.1/bin/compass:23:in `<main>'
/Users/Kevin/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Kevin/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  opacity\": expected \";\", was \": .1;\"\A         on line 33 of /Users/Kevin/dev/blog/sass/custom/_styles.scss\A         from line 10 of /Users/Kevin/dev/blog/sass/screen.scss\A \A 28:   font-size: 70px;\A 29: }\A 30: \A 31: body>header:after {\A 32:   content: \"\"\A 33:   opacity: .1;\A 34:   z-index: -1;\A 35: }\A 36: \A 37: \A 38: .group:after,body>header:after,body>nav:after,body>footer:after,body #content>article:after,body #content>div>article:after,body #content>div>section:after,body div.pagination:after,#main:after,#content:after,.sidebar:after {content: \"\"; opacity:0;z-index: -1}"; }
